@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SMBaNk</h1>
    <div class="row">
        <div class="col-md-6">
            <p><h3>Associados</h3></p>
            <input type="button"
                   value="Entrar"
                   class="btn btn-info"
                   onclick="location.href='@Url.Action("Login", "Usuario" , new { area="" } )'" />
        </div>
        <div class="col-md-6">
            <p><h3>Não Associados</h3></p>
            <input type="button"
                   value="+ Cadastrar"
                   class="btn btn-success"
                   onclick="location.href='@Url.Action("Cadastrar", "Conta" , new { area="" } )'" />
        </div>

    </div>
</div>

