
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <div class="row">
        <h1>Buscar Informações de Conta</h1> 
    </div>
    <div>
        <form action="/Conta/GetOperacoes" method="POST">
            <div class="row">
                <input class="form-control" type="number" name="Num_SeqlConta" placeholder="Informe o número da Conta" />
            </div>
            <div class="row" style="margin-top: 15px">
                <button class="btn btn-success" type="submit">Buscar</button>
            </div>
                        
        </form>
    </div>
</body>
</html>
