
<div class="row" style="margin-top: 25px">
    <div class="alert alert-danger" role="alert">
        Usuário e/ou senha incorretas, verifique e tente novamente!
    </div>
    <input type="button"
           value="Tentar novamente"
           class="btn btn-info"
           onclick="location.href='@Url.Action("Login", "Usuario" , new { area="" } )'" />
</div>
